<nav>
    <% const name = 'maroio' %>
    <div class = "site-title" >
        <a href = "/"><h1>InterviewAssist</h1></a>
        <p>Striver harder and stay calm</p>
    </div>
    <ul>
        <li><a href ="/archives">All Archives</a></li>
        <li><a href ="/about">About</a></li>
        <li><a href ="/archives/create">Share Your Interview Experience</a></li>
    </ul>
</nav>
